<div class="container">
    <div *ngIf="!showResults">
        <form [formGroup]="passengerForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="language">Idioma del pasajero:</label>
                <select formControlName="language" id="language">
                    <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
                </select>
            </div>
            <div>
                <label for="name">Nombre del pasajero:</label>
                <input type="text" formControlName="name" id="name">
            </div>
            <div>
                <label for="lastName">Apellidos del pasajero:</label>
                <input type="text" formControlName="lastName" id="lastName">
            </div>
            <div>
                <label for="email">Email del pasajero:</label>
                <input type="email" formControlName="email" id="email">
            </div>
            <button type="submit" [disabled]="showResults || !passengerForm.valid">Enviar</button>
            <button type="button" (click)="resetForm()">Reiniciar</button>
        </form>
    </div>
    <div *ngIf="showResults">
        <h2>Datos del pasajero:</h2>
        <p>Idioma: {{ formData.language }}</p>
        <p>Título: {{ formData.title }}</p>
        <p>Nombre: {{ formData.name }}</p>
        <p>Apellidos: {{ formData.lastName }}</p>
        <p>Email: {{ formData.email }}</p>
    </div>
</div>